.header {
    padding: 50px 0;
}
.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 320px) {
      flex-direction: column;
    }
}
.logo {
    width: 20%;
    height: auto;
    overflow: hidden;
    border-radius: 10%;
    margin-bottom: 10px;
    @media (max-width: 320px) {
      width: 90%;
      margin: auto;
      margin-bottom: 20px;
    }
}
.logo-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
#search {
    width: 50%;
    height: auto;
    font-size: 16px;
    line-height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    @media (max-width: 1024px) {
      font-size: 14px;
      line-height: 27px;
    }
    @media (max-width: 320px) {
      width: 80%;
      font-size: 12px;
      line-height: 30px;
      padding: 0 6px;
      margin-bottom: 20px;
    }
}
#search::placeholder {
    margin-left: 20px;
    color: #333;
    @media (max-width: 1024px) {
      margin-left: 18px;
    }
    @media (max-width: 320px) {
      margin-left: 12px;
    }
}
.form-select-board {
    width: 15%;
    align-items: center;
    @media (max-width: 320px) {
      width: 80%;
      margin: auto;
    }
}
.select-board {
    width: 90%;
    height: 40px;
    border-radius: 5px;
    background-color: #E60023;
    color: #fff;
    text-align: center;
    @media (max-width: 320px) {
      width: 100%;
    }
}